/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules
*.*~
*.orig
*.cache
.DS_Store
/.vscode
/nbproject/

*.*~
/docker/nginx/symfony.conf
/docker/nginx/dsy.conf
/docker/php/dsy.conf
/docker/php/dsycron
/docker/php/zsymfony.conf
.env
.env.docker.local
.DS_Store
docker-compose-local.yml
/docker/logs/nginx/*
!/docker/logs/nginx/.gitkeep
/docker/logs/cron/*
!/docker/logs/cron/.gitkeep
/docker/logs/php/*
!/docker/logs/php/.gitkeep
/docker/logs/supervisor/*
!/docker/logs/supervisor/.gitkeep