{% extends '@EasyAdmin/default/list.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-12 text-right margin-bottom">
            <a role="button" class="btn btn-info" href="{{ path('admin_maritime_forecast_import') }}" title="Importación de pronósticos Marítimo">Importar Pronósticos</a>
        </div>
    </div>
    {{ parent() }}
{% endblock main %}
