map $uri $loggable {
    default                                             1;
    ~*\.(ico|css|js|gif|jpg|jpeg|png|svg|woff|woff2|ttf|eot|map)$ 0;
}

map $http_host $https_on {
  default on;
  '~^localhost' off;
  '~compute-1.amazonaws.com' off;
  'host.docker.internal' off;
}

server {
    server_name _;

    root /app/web;

    client_max_body_size 4M;

    location / {
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /app.php/$1 last;
    }

    location ~ ^/(app)\.php(/|$) {
        fastcgi_pass app:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS $https_on;
    }

    error_log /app/docker/logs/nginx/symfony_error.log;
    access_log /app/docker/logs/nginx/symfony_access.log combined if=$loggable;
}