00 06 * * * root /usr/local/bin/php /app/bin/console dsarhoya:melon:history-dispatch-guide --env=stage  >> /var/log/cron.log 2>&1
* * * * * root /usr/local/bin/php /app/bin/console swiftmailer:spool:send --env=stage  >> /var/log/cron.log 2>&1
*/10 * * * * root /usr/local/bin/php /app/bin/console app:dispatch-guide:sync-pdf --env=stage  >> /var/log/cron.log 2>&1
*/4 * * * * root /usr/local/bin/php /app/bin/console app:dispatch-guide:alert-notifications --env=stage  >> /var/log/cron.log 2>&1
00 06 * * * root /usr/local/bin/php /app/bin/console app:clean-pdfs --env=stage  >> /var/log/cron.log 2>&1
*/1 * * * * root /usr/local/bin/php /app/bin/console app:fatigue:operator-block --env=stage >> /var/log/cron.log 2>&1
#no borrar esta línea