{% extends '@EasyAdmin/default/list.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-12 text-right margin-bottom">
            <a role="button" class="btn btn-info" href="{{ path('admin_hour_meteorological_forecast_import') }}" title="Importaci贸n de pron贸sticos metereol贸gicos">Importar Pron贸sticos</a>
        </div>
    </div>
    {{ parent() }}
{% endblock main %}
